<h1 id = "title">Mongo Scraper</h1>



<br>
<button id = "scrape">Scrape Articles</button>

<div id="wrapper">
      <h3>News</h3>
      
      <div id="articles"></div>
      <div id="notes"></div>
      
</div>



