<div class="container article-block">
  <div class="row scraped">
    <div class="col-sm-12">
      <div class="article">
        {{#each articles}}
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 id='artTitle' class="panel-title">{{this.title}}</h3>
              <button type="button" class="btn btn-success save-article float-right" data={{this.data}}>save article
              </button>
            </div>
            <div id='artPost' class="panel-body"> {{this.post}} </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <!--<h2>Modal Example</h2>-->
  <!-- Trigger the modal with a button -->
  <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

  <!-- Modal -->
  <div class="modal fade" id="scrapeInfoModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Scraper</h4>
        </div>
        <div class="modal-body">
          <p>Added {{articles_count}} articles.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="container">

</div>