body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDcsiBxykyMwAO6IF0BERU1a2Zlf4MVu5OjJuhgqfwxbD24aQo");
  color: #931009;
}

h1, h2, label {
  background: #b6b30f;
}

li {
  padding: 5px;
  margin: 5px;
  background: #b6b30f;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
