body { background-color: #F2F6D0 }
      #wrapper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        
        height: auto;
      }
      #notes {
        
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 24px;
        font-size: 12px;
      }
      textarea {
        height: 60px;
        font-size: 12px;
      }